.news {
    background-color: #eaeaea;

    .header-news {
        .row {
            margin: 0 15px;
            justify-content: center;

            .latest-news {
                margin-top: 100px;
                color: #000;
                font-size: 42px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 62px;
                letter-spacing: 0.02em;
            }
        }
    }

    .content-news {
        padding-bottom: 85px;

        .row {
            justify-content: space-between;

            .card-news {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                line-height: 45px;
                padding: 0 15px;

                .detail-news {
                    line-height: 40px;

                    margin-top: 7px;

                    .title-news {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #000;
                        width: 350px;
                        letter-spacing: 0.02em;
                    }

                    .footer-news {
                        font-size: 12px;
                        color: #9f9f9f;
                        letter-spacing: 0.03em;

                        span {
                            color: #45b3cf;
                        }
                    }
                }

            }
        }
    }
}