.footer .header-footer .row {
  justify-content: space-around;
}
.footer .header-footer .row .img-footer {
  width: 140px;
  padding-top: 32px;
  padding-right: 9px;
  margin-bottom: 8px;
}
.footer .header-footer .row .logo1 {
  padding-left: 11px;
}
.footer .header-footer .row .logo2 {
  padding-left: 6px;
}
.footer .header-footer .row .logo3 {
  padding-left: 13px;
}
.footer .header-footer .row .logo4 {
  padding-right: 0px;
  padding-left: 7px;
}
.footer .middle-footer {
  background-color: #f2f2f2;
}
.footer .middle-footer .row {
  justify-content: flex-start;
  padding: 21px 0 33px 0;
}
.footer .middle-footer .row .col {
  width: 3;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.footer .middle-footer .row .col p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}
.footer .middle-footer .row .col a {
  color: #979797;
  line-height: 36px;
}
.footer .middle-footer .row .col a:hover {
  color: #44b3cf;
}
.footer .middle-footer .row .footer-contact-us {
  padding-right: 80px;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list {
  margin-top: 21px;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a {
  display: flex;
  align-items: flex-start;
  line-height: 31px;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a i {
  color: #44b3cf;
  font-size: 16px;
  width: 16px;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a .fa-solid {
  margin: 15px 20px 0 0;
  font-size: 16px;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a .fa-mobile-screen {
  margin-top: 6px;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a .fa-location-dot {
  margin: 0px 20px 0 0;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a span {
  word-wrap: break-word;
  width: 239px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.02em;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a .long {
  line-height: 18px;
  letter-spacing: 0.01em;
}
.footer .middle-footer .row .footer-contact-us .footer-contact-us-list a .next {
  margin-top: 6px;
}
.footer .middle-footer .row .footer-contact-us .group-icon {
  display: flex;
  margin-top: 33px;
  margin-left: -1px;
}
.footer .middle-footer .row .footer-contact-us .group-icon .fa-brands {
  margin-right: 18px;
  color: #979797;
  font-size: 13px;
}
.footer .middle-footer .row .footer-contact-us .group-icon .fa-brands:hover {
  color: #44b3cf;
}
.footer .middle-footer .row .footer-contact-us .group-icon .fa-instagram {
  margin-left: 7px;
}
.footer .middle-footer .row .footer-company {
  padding: 0 97.5px 0 36px;
}
.footer .middle-footer .row .footer-company .footer-company-list {
  margin-top: -10px;
}
.footer .middle-footer .row .footer-company .footer-company-list a {
  letter-spacing: -1.25px;
  font-size: 15px;
  font-weight: 500;
}
.footer .middle-footer .row .footer-categories {
  padding: 0 63px 0 97.5px;
}
.footer .middle-footer .row .footer-categories .footer-categories-list {
  margin-top: -10px;
}
.footer .middle-footer .row .footer-categories .footer-categories-list a {
  letter-spacing: -1.25px;
  font-size: 15px;
  font-weight: 500;
}
.footer .middle-footer .row .footer-quick-links {
  padding-left: 115px;
}
.footer .middle-footer .row .footer-quick-links .footer-quick-links-list {
  margin-top: -10px;
}
.footer .middle-footer .row .footer-quick-links .footer-quick-links-list a {
  letter-spacing: -1.25px;
  font-size: 15px;
  font-weight: 500;
}
.footer .end-footer .row {
  justify-content: space-between;
  align-items: center;
}
.footer .end-footer .row .title-end-footer {
  color: #989898;
  font-size: 12px;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 2px;
  letter-spacing: 0.005em;
}
.footer .end-footer .row .title-end-footer span {
  color: #80c8dc;
}
.footer .end-footer .row .group-brands img {
  width: 55px;
  margin-right: 17px;
  margin-top: 8px;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  opacity: 0.9;
  z-index: 1;
  transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  -moz-transition: all, 0.05s;
  -ms-transition: all, 0.05s;
  -o-transition: all, 0.05s;
}
.header .logo-mobile {
  display: none;
  text-align: center;
}
.menubar {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  background-color: #0cabc9;
  height: 50px;
}
.menubar-inner {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.menubar-inner .menu-category {
  text-transform: uppercase;
  margin-top: 10.5px;
  font-size: 14px;
}
.menubar-inner .menu-category i {
  padding-right: 24px;
  font-size: 25px;
  vertical-align: bottom;
}
.menubar-inner nav .nav-icon {
  display: none;
  text-transform: uppercase;
  font-size: 16px;
}
.menubar-inner nav .nav-icon i {
  font-size: 22px;
  vertical-align: bottom;
  padding-left: 15px;
}
.menubar-inner nav .navbar {
  margin-top: 12.5px;
}
.menubar-inner nav .navbar .nav-title {
  background-color: #0cabc9;
  color: #fff;
  line-height: 51px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
  display: none;
}
.menubar-inner nav .navbar li {
  display: inline-block;
  margin-left: 32px;
  margin-right: 20px;
}
.menubar-inner nav .navbar li a {
  text-transform: uppercase;
  color: #fff;
}
.menubar-inner nav .navbar li:last-child {
  margin-right: 0;
}
@media all and (max-width: 1170px) {
  div.slider-content-inner {
    margin-left: 100px;
  }
  div.slider-content-inner div.slide-title {
    font-size: 60px;
  }
}
@media all and (max-width: 1024px) {
  .header .logo-mobile {
    display: block;
  }
  .header-top-inner .web-inf-button {
    margin: 0;
  }
  .header-top-inner .web-inf-button .inf-content {
    display: none;
  }
  .header-bottom-inner .logo {
    display: none;
  }
  .header-bottom-inner .form-control {
    width: 100%;
  }
  .header-bottom-inner .form-control .search {
    width: 100%;
    order: 2;
  }
  .header-bottom-inner .form-control .setting {
    order: 1;
    margin-left: 0;
    margin-right: 19px;
  }
  .header-bottom-inner .form-control .cart {
    order: 3;
  }
  .menubar-inner nav .nav-icon {
    display: block;
    margin-top: 12.5px;
  }
  .menubar-inner nav .navbar {
    transition: all, 0.6s;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    height: 100vh;
    width: 30vw;
    -webkit-box-shadow: -12px 15px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 15px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 15px 19px 0px rgba(0, 0, 0, 0.75);
    z-index: 2;
  }
  .menubar-inner nav .navbar .nav-title {
    display: block;
  }
  .menubar-inner nav .navbar li {
    display: block;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #bbb;
  }
  .menubar-inner nav .navbar li a {
    color: #0cabc9;
  }
  .menubar-inner nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  div.slider-content-inner {
    width: 66.667%;
  }
  div.slider-content-inner div.slide-title {
    font-size: 50px;
    line-height: 60px;
  }
  div.slider-content-inner div.slide-summary {
    margin-bottom: 35px;
  }
  div.strength {
    height: auto;
  }
  div.strength-item {
    width: 50%;
  }
  .banner div.title {
    font-size: 25px;
  }
  .banner div.sumary {
    font-size: 16px;
  }
  .banner-left-detail {
    bottom: 25px;
  }
  .banner-left-detail div.banner-countdown span {
    font-size: 18px;
    margin-bottom: -15px;
  }
  .banner-left-detail div.banner-countdown div.time {
    width: 50px;
    height: 50px;
  }
  .banner-right-content {
    left: 15px;
  }
  .banner-right-content div.sale-number {
    font-size: 50px;
  }
  .banner-right div.two {
    padding-top: 10px;
  }
  .top-selling-header .row div.title-selling {
    font-size: 25px;
  }
  .top-selling-header .row div.arrow-selling {
    font-size: 25px;
  }
  .top-selling .content-selling div.row {
    justify-content: space-around;
  }
  .news div.content-news .row {
    justify-content: space-around;
  }
  .footer .middle-footer .row {
    justify-content: space-around;
  }
  .footer .middle-footer .row div.footer-contact-us {
    padding-right: 0;
  }
  .footer .middle-footer .row div.footer-company {
    padding: 0;
  }
  .footer .middle-footer .row div.footer-categories {
    padding: 0;
  }
  .footer .middle-footer .row div.footer-quick-links {
    padding-left: 0;
  }
}
@media all and (max-width: 769px) {
  .menubar-inner nav .navbar {
    width: 50vw;
  }
  div.slider-content-inner {
    margin-left: 70px;
  }
  div.slider-content-inner div.slide-title {
    font-size: 27px;
    line-height: 45px;
    padding: 0;
    margin-top: 30px;
  }
  div.slider-content-inner div.slide-summary {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 14px;
  }
  div.banner-left {
    width: 100%;
  }
  div.banner-left-detail .banner-countdown div.time {
    width: 68px;
    height: 67px;
  }
  div.banner-right {
    width: 100%;
    margin: 0;
  }
  div.banner-right .banner-col {
    display: flex;
    margin: 0px -15px;
  }
  div.banner-right-item {
    width: 50%;
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  div.banner-right-content {
    left: 30px;
  }
  div.banner-right div.two {
    padding-top: 0;
  }
  .footer .header-footer .row .img-footer {
    width: 130px;
  }
  .footer .middle-footer .row .footer-contact-us .footer-contact-us-list a span {
    width: 150px;
  }
  .footer .middle-footer .row .footer-contact-us .footer-contact-us-list a .fa-location-dot {
    margin: 4px 20px 0 0;
  }
  .footer .middle-footer .row .footer-contact-us .group-icon {
    margin-top: 23px;
  }
}
@media all and (max-width: 576px) {
  .header-bottom-inner .form-control .search form .search-sl {
    display: none;
  }
  .menubar-inner nav .navbar {
    width: 70vw;
  }
  div.slider-content {
    top: 15%;
  }
  div.slider-content-inner {
    margin-left: 0px;
  }
  div.slider-content-inner div.slide-title {
    font-size: 23px;
    line-height: 28px;
    margin-top: 20px;
  }
  div.slider-content-inner div.slide-sumary {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  div.slider-content-inner a.slide-btn {
    font-size: 12px;
  }
  div.strength-item .item-icon {
    font-size: 30px;
  }
  div.strength-item .item-content .title {
    font-size: 14px;
  }
  div.strength-item .item-content .detail {
    font-size: 11px;
  }
  div.banner-left-detail .banner-countdown div.time {
    width: 50px;
    height: 52px;
  }
  div.banner-left-detail .banner-countdown div.time span {
    margin-bottom: 5px;
  }
  div.banner-right-item {
    width: 100%;
  }
  div.news-letter div.row div.title-news-letter {
    font-size: 28px;
  }
  div.news-letter div.row div.note-news-letter {
    font-size: 13px;
  }
  .footer .header-footer .row .img-footer {
    width: 100px;
  }
  .footer .header-footer .row .img-footer img {
    width: 100%;
  }
  .footer div.middle-footer div.row {
    flex-direction: column;
    align-items: center;
  }
  .footer div.middle-footer div.row div.col ul {
    display: none;
  }
  .footer div.middle-footer div.row div.footer-contact-us {
    padding: 0px;
  }
  .footer div.middle-footer div.row div.footer-quick-links {
    padding: 0;
  }
  .footer div.end-footer .row {
    align-items: center;
    flex-direction: column;
  }
}
@media all and (max-width: 375px) {
  .header-top .sl-language.in-active {
    display: none;
  }
  div.slider-content-inner div.slide-title {
    font-size: 19px;
    margin: 0;
  }
  div.slider-content-inner div.slide-sumary {
    font-size: 9px;
    margin: 0;
  }
  div.slider-content-inner a.slide-btn {
    font-size: 8px;
    padding-bottom: 3px;
  }
  .banner-right-content div.sale-number {
    font-size: 25px;
    line-height: 30px;
  }
  .banner div.title {
    font-size: 20px;
  }
  .banner div.sumary {
    font-size: 11px;
  }
  div.news-letter div.row div.title-news-letter {
    font-size: 18px;
    margin-top: 60px;
  }
  div.news-letter div.row div.note-news-letter {
    font-size: 9px;
  }
  div.news-letter div.row .submit form .submit-input input {
    font-size: 11px;
  }
  div.news-letter div.row .submit form .submit-button button {
    font-size: 13px;
  }
  .footer .end-footer .row .group-brands img {
    width: 54px;
    margin-right: 0px;
  }
}
.slider {
  max-height: 750px;
  overflow: hidden;
}
.slider .slick-arrow {
  height: 60px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-prev {
  left: 20px;
  z-index: 10;
}
.slider .slick-prev:hover {
  background-color: #0cabc9;
}
.slider .slick-prev:hover::before {
  color: #fff;
}
.slider .slick-prev:hover::after {
  border-top-color: #0cabc9;
}
.slider .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 19px;
  color: #082b4f;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  padding-left: 7px;
}
.slider .slick-prev::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 60px solid #fff;
  border-right: 10px solid transparent;
  position: absolute;
  top: 0;
  right: -10px;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-next {
  right: 20px;
}
.slider .slick-next:hover {
  background-color: #0cabc9;
}
.slider .slick-next:hover::before {
  color: #fff;
}
.slider .slick-next:hover::after {
  border-bottom-color: #0cabc9;
}
.slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 19px;
  color: #082b4f;
  opacity: 1;
  padding-right: 7px;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider .slick-next::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 60px solid #fff;
  border-left: 10px solid transparent;
  position: absolute;
  top: 0;
  left: -10px;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.slider-item {
  position: relative;
}
.slider-item img {
  width: 100%;
}
.slider-content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.slider-content-inner {
  width: 58.333%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.slider-content-inner .slide-title {
  transform: translate(0, -100px);
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  -o-transform: translate(0, -100px);
  letter-spacing: 0.02em;
  font-size: 68px;
  font-weight: 600;
  color: #000;
  line-height: 89px;
  padding-top: 91px;
}
.slider-content-inner .slide-title span {
  color: #0cabc9;
}
.slider-content-inner .slide-sumary {
  transform: translateY(-100, 0px);
  -webkit-transform: translateY(-100, 0px);
  -moz-transform: translateY(-100, 0px);
  -ms-transform: translateY(-100, 0px);
  -o-transform: translateY(-100, 0px);
  font-size: 18px;
  font-weight: 500;
  color: #8f8f8f;
  margin-top: 15px;
  margin-bottom: 47px;
}
.slider-content-inner .slide-btn {
  display: inline-block;
  transform: translate(0, 100px);
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  font-size: 16px;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid #0cabc9;
  text-decoration: none;
  padding-bottom: 5px;
}
.slider-content-inner .active {
  transform: translate(0, 0px);
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
}
.strength {
  margin-top: 15px;
  height: 133px;
  display: flex;
  align-items: center;
}
.strength-item {
  width: 25%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.strength-item .item-icon {
  height: 46px;
  width: 46px;
  line-height: 46px;
  text-align: center;
  color: #0cabc9;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 40px;
}
.strength-item .item-content {
  padding-left: 5px;
  line-height: 20px;
}
.strength-item .item-content .title {
  font-size: 16px;
  font-weight: 800;
  color: #000;
  margin-bottom: 3px;
}
.strength-item .item-content .detail {
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  letter-spacing: -0.125px;
}
.banner span {
  color: #0cabc9;
}
.banner-col {
  margin: -15px 0;
}
.banner .title {
  font-weight: 600;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}
.banner .sumary {
  font-weight: 600;
  font-size: 18px;
  color: #8f8f8f;
  letter-spacing: -0.0125em;
}
.banner-left {
  width: 58.3333%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.banner-left-content {
  line-height: 34px;
}
.banner-left .banner-inner {
  overflow: hidden;
  cursor: pointer;
}
.banner-left .banner-inner:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.banner-left img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.banner-left-detail {
  position: absolute;
  left: 0%;
  bottom: 34px;
  transform: translateX(-50%, -100%);
  -webkit-transform: translateX(-50%, -100%);
  -moz-transform: translateX(-50%, -100%);
  -ms-transform: translateX(-50%, -100%);
  -o-transform: translateX(-50%, -100%);
  text-align: center;
  width: 100%;
}
.banner-left-detail .banner-countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
.banner-left-detail .banner-countdown span {
  width: 100%;
  height: 5px;
  font-size: 21px;
  letter-spacing: -1px;
  font-weight: 600;
  text-align: center;
}
.banner-left-detail .banner-countdown .time {
  width: 60px;
  height: 62px;
  background-color: #fff;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-left-detail .title {
  margin-top: -5px;
  letter-spacing: 0.01em;
}
.banner-right {
  width: 41.667%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.banner-right-item {
  position: relative;
  padding: 15px 0;
  overflow: hidden;
}
.banner-right-item-inner {
  overflow: hidden;
  cursor: pointer;
}
.banner-right-item-inner:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.banner-right-item img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  width: 100%;
  display: block;
  overflow: hidden;
}
.banner-right-item.two {
  padding-top: 14px;
}
.banner-right-item.two .content-bottom {
  line-height: 32px;
}
.banner-right-content {
  position: absolute;
  top: 50%;
  left: 29px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner-right-content .sale-number {
  font-size: 60px;
  color: #0cabc9;
  font-weight: 600;
  line-height: 60px;
}
.banner-right-content .dis {
  font-size: 24px;
  font-weight: 500;
  margin-top: -7px;
}
.top-selling-header {
  display: flex;
  margin-top: 46px;
}
.top-selling-header .row {
  justify-content: space-between;
  padding: 0 15px;
}
.top-selling-header .row .title-selling {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.top-selling-header .row .arrow-selling {
  display: flex;
  justify-content: center;
  color: #cfcfcf;
  font-size: 42px;
}
.top-selling-header .row .arrow-selling .right-arrow-selling {
  margin-left: 18px;
}
.top-selling-header .row .arrow-selling .right-arrow-selling:hover {
  color: #2fafcd;
}
.top-selling-header .row .arrow-selling .left-arrow-selling:hover {
  color: #2fafcd;
}
.top-selling .content-selling {
  margin-top: 40px;
  margin-bottom: 18px;
}
.top-selling .content-selling .row {
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;
}
.top-selling .content-selling .row .card-selling {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0 25px 0;
  line-height: 50px;
}
.top-selling .content-selling .row .card-selling .img-selling {
  overflow: hidden;
}
.top-selling .content-selling .row .card-selling .img-selling:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.top-selling .content-selling .row .card-selling .img-selling img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  overflow: hidden;
}
.top-selling .content-selling .row .card-selling .detail-selling {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -5px;
  line-height: 45px;
}
.top-selling .content-selling .row .card-selling .detail-selling .name-selling {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  line-height: 22px;
  width: 200px;
  padding-bottom: 5px;
  height: 34px;
  letter-spacing: -0.5px;
}
.top-selling .content-selling .row .card-selling .detail-selling .worth-selling {
  display: flex;
  font-size: 13px;
}
.top-selling .content-selling .row .card-selling .detail-selling .worth-selling .price-selling {
  color: #0ca8c9;
}
.top-selling .content-selling .row .card-selling .detail-selling .worth-selling .discount-selling {
  display: none;
}
.top-selling .content-selling .row .card-selling .detail-selling .worth-selling .discount-selling.active {
  margin-right: 12px;
  color: #696969;
  text-decoration-line: line-through;
  display: block;
}
.news {
  background-color: #eaeaea;
}
.news .header-news .row {
  margin: 0 15px;
  justify-content: center;
}
.news .header-news .row .latest-news {
  margin-top: 100px;
  color: #000;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 62px;
  letter-spacing: 0.02em;
}
.news .content-news {
  padding-bottom: 85px;
}
.news .content-news .row {
  justify-content: space-between;
}
.news .content-news .row .card-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 45px;
  padding: 0 15px;
}
.news .content-news .row .card-news .detail-news {
  line-height: 40px;
  margin-top: 7px;
}
.news .content-news .row .card-news .detail-news .title-news {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
  width: 350px;
  letter-spacing: 0.02em;
}
.news .content-news .row .card-news .detail-news .footer-news {
  font-size: 12px;
  color: #9f9f9f;
  letter-spacing: 0.03em;
}
.news .content-news .row .card-news .detail-news .footer-news span {
  color: #45b3cf;
}
.news-letter {
  background-color: #222222;
}
.news-letter .row {
  flex-direction: column;
  align-items: center;
}
.news-letter .row .title-news-letter {
  color: #ffffff;
  margin-top: 89px;
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0.005em;
}
.news-letter .row .note-news-letter {
  color: #b0b0b0;
  font-size: 14px;
  margin: 13px 0 66px 0;
  letter-spacing: 0.02em;
}
.news-letter .row .submit {
  width: 771px;
  max-width: 100%;
  margin-bottom: 104px;
}
.news-letter .row .submit form {
  display: flex;
  height: 70px;
  border-radius: 40px;
  margin: -5px 1px -5px 0;
  overflow: hidden;
}
.news-letter .row .submit form .submit-input {
  flex: 1;
}
.news-letter .row .submit form .submit-input input {
  border: none;
  width: 100%;
  height: 70px;
  padding-left: 31px;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #8f8f8f;
  font-weight: 400;
}
.news-letter .row .submit form .submit-button button {
  background-color: #0ca8c9;
  color: #fff;
  font-size: 16px;
  height: 70px;
  text-align: center;
  border: 6px solid #fff;
  border-radius: 40px;
  text-transform: uppercase;
  width: 184px;
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */