.tab {
    button {
        color: #6c757d;
        font-weight: bold;
    }
    ;
    .Mui-selected {
        color: #333;
    }
    ;
    .css-1aquho2-MuiTabs-indicator {
        background-color: #333
    }
}

;